<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<form method="post" th:action="'/users/update/'+${user.id}">

    <input type="hidden" th:value="${user.id}" th:field="*{user.id}">

    <label for="name">Name</label>
    <input type="text" id="name" th:placeholder="${user.name}" th:field="*{user.name}">

    <label for="birthplace">Birthplace</label>
    <input type="text" id="birthplace" th:placeholder="${user.birthPlace}" th:field="*{user.birthPlace}">

    <label for="birthdate">Birthdate</label>
    <input type="date" id="birthdate" th:placeholder="${user.birthDate}" th:field="*{user.birthDate}">

    <label for="email">e-Mail</label>
    <input type="text" id="email" th:placeholder="${user.email}" th:field="*{user.email}">

    <button type="submit" class="btn btn-success">Update</button>
</form>
</body>
</html>